name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      
      - run: npm ci
      
      # Import certificate
      - name: Import Code Signing Certificate
        env:
          MAC_CERTIFICATE: ${{ secrets.MAC_CERTIFICATE }}
          MAC_CERTIFICATE_PASSWORD: ${{ secrets.MAC_CERTIFICATE_PASSWORD }}
        run: |
          echo $MAC_CERTIFICATE | base64 --decode > certificate.p12
          security create-keychain -p actions build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p actions build.keychain
          security import certificate.p12 -k build.keychain -P $MAC_CERTIFICATE_PASSWORD -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k actions build.keychain
          rm certificate.p12
      
      # Build and sign
      - name: Build and Sign
        run: npm run build && npx electron-builder --mac --publish never
        env:
          CSC_KEYCHAIN: build.keychain
          CSC_KEYCHAIN_PASSWORD: actions
      
      - uses: actions/upload-artifact@v4
        with:
          name: jett-mac
          path: release/*.dmg

  publish:
    needs: build-mac
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: jett-mac
          path: release
      
      - uses: softprops/action-gh-release@v1
        with:
          files: release/*.dmg
          draft: false
          generate_release_notes: true
